@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
	$primary: black,
	$secondary: #fff,
	$surface: #fff,
	$background: #fff,
	$error: color-palette.$red-900
);

html,
body {
	background-color: theme.$surface;
	color: theme.$on-surface;
	margin: 0;
	padding: 0;
}

.section-header {
	font-family: Lato;
	font-size: 20px;
	letter-spacing: 0.01em;
}

a {
	color: #40b3ff;
}
a:visited {
	color: color.scale(#40b3ff, $lightness: -35%);
}

p {
	font-family: GT Alpina;
	font-size: 30px;
}

:root {
	--mdc-theme-primary: black;
	--mdc-theme-secondary: #fff;
}